{% extends 'base.html' %}

{% block style %}
<link href="/static/assets/css/style_board.css" rel="stylesheet">
{% endblock %}

{% block content %}

<main id="main" class="main section dashboard">
  <div class="empty_container"></div>

  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h5 class="card-title">간식 <span>| Today</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-egg-fried"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ data['total_snack_count'] }}</h6>

                  <span class="text-danger small pt-1 fw-bold">{{ data['recent_warehouse_items']['incoming_count'] }}</span> <span class="text-muted small pt-2 ps-1">added in hour</span>
                  <!-- <span class="text-danger small pt-1 fw-bold">{{ data['recent_warehouse_items']['outgoing_count'] }}</span> <span class="text-muted small pt-2 ps-1">removed in hour</span> -->
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">AI 스피커 <span>| Today</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-speaker"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ data['speaker_count'] }}</h6>
                  <span class="text-primary small pt-1 fw-bold">{{ data['speaker_count_in_hour'] }}</span> <span class="text-muted small pt-2 ps-1">called in hour</span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->


        <!-- Reports -->
        <div class="col-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">현황 <span>| Today</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [{
                      name: '간식',
                      data: [31, 40, 28, 51, 42, 82, 56],
                    }, {
                      name: '스피커',
                      data: [5, 22, 35, 12, 74, 42, 51]
                    }],
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                      fontFamily: 'Gowun Dodum'
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#ff771d', '#4154f1'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'datetime',
                      categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                    },
                    tooltip: {
                      x: {
                        format: 'dd/MM/yy HH:mm'
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->

            </div>

          </div>
        </div><!-- End Reports -->

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="card-body pb-0">
              <h5 class="card-title">간식 목록 <span>| Today</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">이미지</th>
                    <th scope="col">상품명</th>
                    <th scope="col">입고</th>
                    <th scope="col">출고</th>
                    <th scope="col">개수</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="/static/assets/img/snack/s1.jpg" alt=""></th>
                    <td><div href="#" class="text-primary fw-bold">닭다리</div></td>
                    <td>{{ data['recent_warehouse_items']['incoming']['chicken_legs'] }}</td>
                    <td>{{ data['recent_warehouse_items']['outgoing']['chicken_legs'] }}</td>
                    <td class="fw-bold">{{ data['snack_list']['chicken_legs'] }}</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/static/assets/img/snack/s2.jpg" alt=""></th>
                    <td><div href="#" class="text-primary fw-bold">칸쵸</div></td>
                    <td>{{ data['recent_warehouse_items']['incoming']['kancho'] }}</td>
                    <td>{{ data['recent_warehouse_items']['outgoing']['kancho'] }}</td>
                    <td class="fw-bold">{{ data['snack_list']['kancho'] }}</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/static/assets/img/snack/s3.jpg" alt=""></th>
                    <td><div href="#" class="text-primary fw-bold">롤리폴리</div></td>
                    <td>{{ data['recent_warehouse_items']['incoming']['rollpoly'] }}</td>
                    <td>{{ data['recent_warehouse_items']['outgoing']['rollpoly'] }}</td>
                    <td class="fw-bold">{{ data['snack_list']['rollpoly'] }}</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/static/assets/img/snack/s4.jpg" alt=""></th>
                    <td><div href="#" class="text-primary fw-bold">쫄병 안성탕면</div></td>
                    <td>{{ data['recent_warehouse_items']['incoming']['ramen_snack'] }}</td>
                    <td>{{ data['recent_warehouse_items']['outgoing']['ramen_snack'] }}</td>
                    <td class="fw-bold">{{ data['snack_list']['ramen_snack'] }}</td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/static/assets/img/snack/s5.jpg" alt=""></th>
                    <td><div href="#" class="text-primary fw-bold">고래밥</div></td>
                    <td>{{ data['recent_warehouse_items']['incoming']['whale_food'] }}</td>
                    <td>{{ data['recent_warehouse_items']['outgoing']['whale_food'] }}</td>
                    <td class="fw-bold">{{ data['snack_list']['whale_food'] }}</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Top Selling -->

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">최근 활동 <span>| Today</span></h5>

          <div class="activity">

            <div class="activity-item d-flex">
              <div class="activite-label">32 min</div>
              <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
              <div class="activity-content">
                칸쵸 <a href="#" class="fw-bold text-dark">1개</a> 입고
              </div>
            </div><!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">56 min</div>
              <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
              <div class="activity-content">
                롤리폴리 <a href="#" class="fw-bold text-dark">2개</a> 입고
              </div>
            </div><!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">2 hrs</div>
              <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
              <div class="activity-content">
                고래밥 <a href="#" class="fw-bold text-dark">1개</a> 입고
              </div>
            </div><!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">1 day</div>
              <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
              <div class="activity-content">
                닭다리 <a href="#" class="fw-bold text-dark">1개</a> 입고
              </div>
            </div><!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">2 days</div>
              <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
              <div class="activity-content">
                칸쵸 <a href="#" class="fw-bold text-dark">1개</a> 출고
              </div>
            </div><!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">4 weeks</div>
              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
              <div class="activity-content">
                칸쵸 <a href="#" class="fw-bold text-dark">3개</a> 입고
              </div>
            </div><!-- End activity item-->

          </div>

        </div>
      </div><!-- End Recent Activity -->

      <!-- Website Traffic -->
      <div class="card">
        
        <div class="card-body pb-0">
          <h5 class="card-title">간식 분포 <span>| Today</span></h5>

          <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                textStyle: {
                  fontFamily: 'Gowun Dodum',
                },
                series: [{
                  // name: 'Access From',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [{
                      value: "{{ data['recent_warehouse_items']['incoming']['chicken_legs'] }}",
                      name: '닭다리'
                    },
                    {
                      value: "{{ data['recent_warehouse_items']['incoming']['kancho'] }}",
                      name: '칸쵸'
                    },
                    {
                      value: "{{ data['recent_warehouse_items']['incoming']['rollpoly'] }}",
                      name: '롤리폴리'
                    },
                    {
                      value: "{{ data['recent_warehouse_items']['incoming']['ramen_snack'] }}",
                      name: '쫄병 안성탕면'
                    },
                    {
                      value: "{{ data['recent_warehouse_items']['incoming']['whale_food'] }}",
                      name: '고래밥'
                    }
                  ]
                }]
              });
            });
          </script>

        </div>
      </div><!-- End Website Traffic -->

    </div><!-- End Right side columns -->

  </div>

</main><!-- End #main -->
{% endblock %}



