{% extends 'base.html' %}

{% block content %}

      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>간식 관리 솔루션</h1>
          <h2>무인매장 혹은 사내, 교육장의 간식을 무인으로 관리할 수 있는 서비스를 개발하였습니다.</h2>
          <div class="d-flex">
            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/static/assets/img/snack_display.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a href="{{url_for('monitor')}}">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-laptop"></i></div>
                <h4 class="title">Monitoring</h4>
                <p class="description">상품 데이터 실시간 모니터링</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <a href="{{url_for('board')}}">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title">Board</h4>
                <p class="description">상품 입출고 현황 대시보드</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>안녕하세요, 바닐라 팀입니다.</h3>
            <p>
              2022년 10월부터 2023년 2월까지 들은 누구나 AIoT 수업 내용을 기반으로 간식 관리 솔루션 프로젝트를 진행하였습니다.
              웹 개발부터 사물 지능, 딥러닝 등 다양한 주제를 담아서 제작하였습니다.
              <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore -->
            </p>

            <p class="fst-italic">
              프로젝트 진행은 다음의 환경에서 진행하였습니다.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Colab (Deep Learning)</li>
              <li><i class="bi bi-check-circle"></i> Rapberry PI, Jetson Nano</li>
              <li><i class="bi bi-check-circle"></i> Flask, Vanilla JS</li>
              <li><i class="bi bi-check-circle"></i> Notion</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4>Yolov5 객체 인식</h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bi-mic-fill"></i></div>
              <h4>AI 스피커</h4>
              <!-- <h4><a href="">AI 스피커</a></h4> -->
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bi-lightbulb"></i></div>
              <h4>IoT 제어</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4>Flask 웹사이트</h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/static/assets/img/team/pokemon-1.png" alt="">
              <h4>김수영</h4>
              <!-- <span>웹 개발</span> -->
              <p>
                전체 프로젝트 관리 및 Flask를 활용한 웹 개발을 담당했습니다.
                <!-- Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut -->
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/static/assets/img/team/pokemon-2.png" alt="">
              <h4>김민아</h4>
              <!-- <span>AI 스피커</span> -->
              <p>
                AI 스피커를 중점적으로, TTS, STT, Wake Word Dectection를 개발했습니다.
                <!-- Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus -->
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/static/assets/img/team/pokemon-3.png" alt="">
              <h4>안연수</h4>
              <!-- <span>IoT 제어</span> -->
              <p>
                라즈베리파이의 GPIO를 활용하여, 센서 및 LED를 제어하는 기능을 구현했습니다.
                <!-- Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara -->
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/static/assets/img/team/pokemon-4.png" alt="">
              <h4>이정하</h4>
              <!-- <span>Yolo 모델링</span> -->
              <p>
                간식 데이터 검출을 위한 Yolov5 모델링 및 학습을 진행하였습니다.
                <!-- Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara -->
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Vanilla</h3>
            <p>쌔싹 용산 캠퍼스 & 누구나 AIoT (2023. 02. 13 ~ 2023. 02. 28)</p>
          </div>
        </div>

        <!-- <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div> -->

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>eNno</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


{% endblock %}



