{% extends 'base.html' %}

{% block style %}
<!-- <link href="/static/assets/css/style_board.css" rel="stylesheet"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
{% endblock %}

{% block content %}
<main id="main" class="main section dashboard">
  <section>

      <!-- <canvas id="canvas" width="416" height="416" style="background-color: black"></canvas> -->
      <!-- <img id="image" src="" width="416" height="416" style="background-color: black"></img> -->

      <!-- <video id="video" width="0" height="0" autoplay style="background-color: black"></video>

      <div class="video-container">
        <canvas id="canvas" width="384" height="216" style="background-color: black"></canvas>
        <img id="image" alt="" width="384" height="216" style="background-color: black"></img>
      </div> -->


      
      <div class="video-container">
        <img id="image" width="384" height="216" src="{{ url_for('video') }}" class="corner"></img>
      </div>

    <div class="container" id="icon-grid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
        <div class="col d-flex align-items-start">
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#temp"/></svg> -->
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-danger" width="1.75em" height="1.75em"></i>
          <div>
            <h4 class="fw-bold mb-0">닭다리</h4>
            <p>현재 온도는 <strong>{{ m.temp }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#humidity"/></svg> -->
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-warning" width="1.75em" height="1.75em"></i>
          <div>
            <h4 class="fw-bold mb-0">칸쵸</h4>
            <p>현재 습도는 <strong>{{ m.humidity }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-muted" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#water-level"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">롤리폴리</h4>
            <p>현재 수위는 <strong>{{ m.water_level }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-info" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#ph"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">쫄병 안성탕면</h4>
            <p>현재 pH는 <strong>{{ m.ph }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-success" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#turbidity"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">고래밥</h4>
            <p>현재 탁도는 <strong>{{ m.turbidity }}</strong> 입니다</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row featurette">
        <div class="row">
          <code id="log" class="logging_window" readonly disabled></code>
        </div>
      </div>
    </div>

    <script>
      const log = document.getElementById('log');
      const socket = io.connect('ws://' + document.domain + ':' + location.port);
      socket.on('connect', () => {
        console.log("connected socket..")
      })
      socket.on('log', (msg) => {
        // <span style="color: blue">var</span> foo = <span style="color: green">"bar"</span>;
        message = JSON.stringify(msg)
        time = msg["time"]
        // log.append()
        log.innerHTML += `<span style="color: blue">${time}</span> "foo =" <span style="color: green">${message}</span><br/>`
        log.scrollTop = log.scrollHeight
      })
    </script>

  </section>

  
</main>

{% endblock %}
