{% extends 'base.html' %}

{% block style %}
<!-- <link href="/static/assets/css/style_board.css" rel="stylesheet"> -->
{% endblock %}

{% block content %}
<main id="main" class="main section dashboard">
  <section>

      <!-- <canvas id="canvas" width="416" height="416" style="background-color: black"></canvas> -->
      <!-- <img id="image" src="" width="416" height="416" style="background-color: black"></img> -->

      <!-- <video id="video" width="0" height="0" autoplay style="background-color: black"></video>

      <div class="video-container">
        <canvas id="canvas" width="384" height="216" style="background-color: black"></canvas>
        <img id="image" alt="" width="384" height="216" style="background-color: black"></img>
      </div> -->


      
      <div class="video-container">
        <img id="image" width="384" height="216" src="{{ url_for('video') }}" class="corner"></img>
      </div>

    <div class="container" id="icon-grid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
        <div class="col d-flex align-items-start">
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#temp"/></svg> -->
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-danger" width="1.75em" height="1.75em"></i>
          <div>
            <h4 class="fw-bold mb-0">닭다리</h4>
            <p>현재 온도는 <strong>{{ m.temp }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#humidity"/></svg> -->
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-warning" width="1.75em" height="1.75em"></i>
          <div>
            <h4 class="fw-bold mb-0">칸쵸</h4>
            <p>현재 습도는 <strong>{{ m.humidity }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-muted" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#water-level"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">롤리폴리</h4>
            <p>현재 수위는 <strong>{{ m.water_level }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-info" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#ph"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">쫄병 안성탕면</h4>
            <p>현재 pH는 <strong>{{ m.ph }}</strong> 입니다</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi flex-shrink-0 me-3 bi-square-fill text-success" width="1.75em" height="1.75em"></i>
          <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#turbidity"/></svg> -->
          <div>
            <h4 class="fw-bold mb-0">고래밥</h4>
            <p>현재 탁도는 <strong>{{ m.turbidity }}</strong> 입니다</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">식물 성장단계 <span class="text-muted"> {{ growth }} 단계</span></h2>
          <p class="lead">현재 작물의 성장 단계는 {{ growth }} 단계 입니다.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/../static/growth.jpg" height="400" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

    <!-- <script>
      const video = document.getElementById('video');
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const image = document.getElementById('image');
      // console.log("Hello", video, canvas, image)

      // Get access to the camera!
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        const w = 640
        const h = 360
        navigator.mediaDevices.getUserMedia({ video: {
          width: { min: w, ideal: w, max: w },
          height: { min: h, ideal: h, max: h },
          frameRate: { min: 8, max:30 },
          aspectRatio: {
            exact: w / h
          }
        }, audio: false }).then(function(stream) {
            video.srcObject = stream;
            video.play();
            setInterval(function() {
                context.drawImage(video, 0, 0, canvas.clientWidth, canvas.clientHeight); // better use size because camera may gives data in different size then <video> is displaying
                canvas.toBlob(upload, "image/jpeg");
            }, 500);
        });
      }

      function upload(file) {
        const formdata =  new FormData();
        formdata.append("snap", file);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('upload') }}", true);
        xhr.responseType = 'blob';
        xhr.onload = function() {

            if(this.status = 200) {
                //console.log(this.response);
            } else {
                console.error(xhr);
            }

            image.src = URL.createObjectURL(this.response); // blob
        };
        // send form in AJAX
        xhr.send(formdata);
        //image.src = URL.createObjectURL(file);
      }
    </script> -->

  </section>

  
</main>

{% endblock %}
